#main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#main p {
  color: #434d38;
}

#main ul {
  width: fit-content;
}

#main th {
  text-align: right;
}

#main table table {
  border: 1px solid #434d38;
}

.edit-button {
  padding: 0.3em;
  background-color: #8d4221;
  width: fit-content;
  color: white;
}

#main table .edit-button {
  margin-top: 0.3em;
}