#main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#main p {
  color: #434d38;
}

#main ul {
  width: fit-content;
}

#main th {
  text-align: right;
}

#main table table {
  border: 1px solid #434d38;
}

.edit-button {
  padding: 0.3em;
  background-color: #8d4221;
  width: fit-content;
  color: white;
}

.edit-button-container, .edit-button-container * {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-button-container {
  margin-bottom: 5px;
}

.edit-button-container > * {
  margin: 2px;
}
