@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#output {
  padding: 20px;
  text-align: center;
}

header {
  background-color: #f8ce9c;
  margin: 0px;
  padding: .5em;
  display: flex;
  align-items: center;
}

header > h1 {
  color: #8d4221;
  margin: 0.5em;
  font-size: 2.5em;
  font-weight: 800;
  font-family: "Sofia Sans Condensed";
}

#header-left-content {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  gap: 1em;
  align-items: center;
}

#header-left-content > span {
  background-color: #8d4221;
  color: white;
  padding: 0.5em;
}

#profile-icon {
  fill: #8d4221;
}

#profile-icon:hover {
  cursor: pointer;
}

#main {
  max-width: 1400px;
  margin: 0px 50px;
}

#main h1, h2, h3, h4, h5, h6 {
  color: #8d4221;
}

footer {
  background-color: #f8ce9c;
  margin-top: auto;
  color: #8d4221;
}

footer a {
  text-decoration: none;
}

footer *:visited {
  color: #8d4221;
}

footer > p {
  margin-top: 1em;
  text-align: center;
}

#footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#footer-links span {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  max-width: 20em;
}

#footer-links ul {
  width: fit-content;
}

#footer-links li {
  margin-bottom: 0.25em;
}

.div-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.div-button:hover {
  cursor: pointer;
}

.text-button:hover {
  cursor: pointer;
}
